<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Senior Consulting</title>
  <!-- Iconic Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../vendors/iconic-fonts/font-awesome/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/iconic-fonts/flat-icons/flaticon.css">
  <link rel="stylesheet" href="../vendors/iconic-fonts/cryptocoins/cryptocoins.css">
  <link rel="stylesheet" href="../vendors/iconic-fonts/cryptocoins/cryptocoins-colors.css">
  <!-- Bootstrap core CSS -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
   <!-- Date picker -->
   <link rel="stylesheet" href="../assets/css/datepicker.css">
  <!-- jQuery UI -->
  <link href="../assets/css/jquery-ui.min.css" rel="stylesheet">
  <!-- Page Specific CSS (Slick Slider.css) -->
  <link href="../assets/css/datatables.min.css" rel="stylesheet">
  <link href="../assets/css/slick.css" rel="stylesheet">
  <!-- Mystic styles -->
  <link href="../assets/css/style.css" rel="stylesheet">
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/logoIcon.png">

</head>

<body class="ms-body   ms-primary-theme ms-has-quickbar">

  <!-- Pre LOADER -->
  <div id="LoaderWrapper">
      <div class="spinner spinner-4">
          <div class="cube1"></div>
          <div class="cube2"></div>
        </div>
  </div>
  <!-- /Pre LOADER -->


  <!-- Overlays -->
  <div class="ms-aside-overlay ms-overlay-left ms-toggler" data-target="#ms-side-nav" data-toggle="slideLeft"></div>
  <div class="ms-aside-overlay ms-overlay-right ms-toggler" data-target="#ms-recent-activity" data-toggle="slideRight"></div>

  <!-- Sidebar Navigation Left -->
  <aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left">

    <!-- Logo -->
    <div class="logo-sn ms-d-block-lg">
      <a class="pl-0 ml-0 text-center" href="index.html"> <img src="../assets/img/logo.png" alt="logo"> </a>
    </div>

       <!-- Navigation -->
       <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">
        <!-- Dashboard -->
        <li class="menu-item ">
            <a class=" active" href="index.html">
                <span><i class="material-icons fs-16">dashboard</i>Dashboard </span>
            </a>
           
        </li>
         <!-- Create  -->
         <li class="menu-item">
          <a href="#" class="has-chevron" data-toggle="collapse" data-target="#create" aria-expanded="false" aria-controls="tables">
            <span><i class="material-icons fs-16">tune</i>Create</span>
          </a>
          <ul id="create" class="collapse" aria-labelledby="tables" data-parent="#side-nav-accordion">
            <li> <a href="Create-course.html">Course</a> </li>
            <li> <a href="Create-group.html">Group</a> </li>
          </ul>
      </li>
      <!--  Create  -->
      <!-- Course  -->
      <li class="menu-item">
        <a href="#" class="has-chevron" data-toggle="collapse" data-target="#Courses" aria-expanded="false" aria-controls="tables">
          <span><i class="material-icons fs-16">filter_list</i> Courses & Sechdule</span>
        </a>
        <ul id="Courses" class="collapse" aria-labelledby="tables" data-parent="#side-nav-accordion">

            <li class="menu-item">
              <a href="#" class="has-chevron" data-toggle="collapse" data-target="#basic-elements" aria-expanded="false" aria-controls="basic-elements">
              <span><i class="material-icons fs-16">filter_list</i>My Courses</span>
            </a>
              <ul id="basic-elements" class="collapse" aria-labelledby="basic-elements" data-parent="#Courses">
                <li class="menu-item">
                  <a href="#" class="has-chevron collapsed" data-toggle="collapse" data-target="#course-detils" aria-expanded="false" aria-controls="authentication">FullStack</a>
                  <ul id="course-detils" class="collapse" aria-labelledby="course-detils" data-parent="#basic-elements">
                    <li> <a href="my-Courses.html">Course Progress</a> </li>
                    <li> <a href="Attendence-Evaluations.html">Attendence & Eval</a> </li>
                    <li> <a href="trainer-center.html">Trainer-Center Eval</a> </li>
                    
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="#" class="has-chevron collapsed" data-toggle="collapse" data-target="#meanstack" aria-expanded="false" aria-controls="authentication">meanStack</a>
                  <ul id="meanstack" class="collapse" aria-labelledby="course-detils" data-parent="#basic-elements">
                    <li> <a href="my-Courses.html">Course Progress</a> </li>
                    <li> <a href="Attendence-Evaluations.html">Attendence & Eval</a> </li>
                    <li> <a href="trainer-center.html">Trainer-Center Eval</a> </li>
                    
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="#" class="has-chevron collapsed" data-toggle="collapse" data-target="#Android" aria-expanded="false" aria-controls="authentication">Android</a>
                  <ul id="Android" class="collapse" aria-labelledby="course-detils" data-parent="#basic-elements">
                    <li> <a href="my-Courses.html">Course Progress</a> </li>
                    <li> <a href="Attendence-Evaluations.html">Attendence & Eval</a> </li>
                    <li> <a href="trainer-center.html">Trainer-Center Eval</a> </li>
                    
                  </ul>
                </li>
               
              </ul>
            </li>


          <li> <a href="sechedule.html">Sechdule</a> </li>
        </ul>
    </li>
    <!--  Course  -->
       
      
        <!-- Chat -->
        <li class="menu-item">
            <a href="chat.html">
              <span><i class="material-icons fs-16">comment</i>Chat</span>
            </a>
           
        </li>
        <!-- /Chat -->
       
      
    </ul>


  </aside>


  <!-- Main Content -->
  <main class="body-content">

    <!-- Navigation Bar -->
    <nav class="navbar ms-navbar">

      <div class="ms-aside-toggler ms-toggler pl-0" data-target="#ms-side-nav" data-toggle="slideLeft">
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
      </div>

      <div class="logo-sn logo-sm ms-d-block-sm">
        <a class="pl-0 ml-0 text-center navbar-brand mr-0" href="index.html"><img src="../assets/img/logo-sm-dark.png" alt="logo"> </a>
      </div>

      <ul class="ms-nav-list ms-inline mb-0" id="ms-nav-options">
      
        <li class="ms-nav-item dropdown">
          <a href="#" class="text-disabled ms-has-notification" id="mailDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>10</span>
            <i class="flaticon-speech-bubble"></i></a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="mailDropdown">
            <li class="dropdown-menu-header">
              <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">Messages</span></h6><span class="badge badge-pill badge-success">3 New</span>
            </li>
            <li class="dropdown-divider"></li>
            <li class="ms-scrollable ms-dropdown-list">
              <a class="media p-2" href="chat.html">
                <div class="ms-chat-status ms-status-offline ms-chat-img mr-2 align-self-center">
                  <img src="https://via.placeholder.com/270x270" class="ms-img-round" alt="people">
                </div>
                <div class="media-body">
                  <span>Hey man, looking forward to your new project.</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 30 seconds ago</p>
                </div>
              </a>
              <a class="media p-2" href="chat.html">
                <div class="ms-chat-status ms-status-online ms-chat-img mr-2 align-self-center">
                  <img src="https://via.placeholder.com/270x270" class="ms-img-round" alt="people">
                </div>
                <div class="media-body">
                  <span>Dear John, I was told you bought Mystic! Send me your feedback</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 28 minutes ago</p>
                </div>
              </a>
              <a class="media p-2" href="chat.html">
                <div class="ms-chat-status ms-status-offline ms-chat-img mr-2 align-self-center">
                  <img src="https://via.placeholder.com/270x270" class="ms-img-round" alt="people">
                </div>
                <div class="media-body">
                  <span>How many people are we inviting to the dashboard?</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 6 hours ago</p>
                </div>
              </a>
            </li>
          </ul>
        </li>
        
        <li class="ms-nav-item dropdown">
          <a href="#" class="text-disabled ms-has-notification" id="notificationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>36</span>
            <i class="flaticon-bell"></i></a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdown">
            <li class="dropdown-menu-header">
              <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">Notifications</span></h6><span class="badge badge-pill badge-info">4 New</span>
            </li>
            <li class="dropdown-divider"></li>
            <li class="ms-scrollable ms-dropdown-list">
              <a class="media p-2" href="#">
                <div class="media-body">
                  <span>12 ways to improve your crypto dashboard</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 30 seconds ago</p>
                </div>
              </a>
              <a class="media p-2" href="#">
                <div class="media-body">
                  <span>You have newly registered users</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 45 minutes ago</p>
                </div>
              </a>
              <a class="media p-2" href="#">
                <div class="media-body">
                  <span>Your account was logged in from an unauthorized IP</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 2 hours ago</p>
                </div>
              </a>
              <a class="media p-2" href="#">
                <div class="media-body">
                  <span>An application form has been submitted</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 1 day ago</p>
                </div>
              </a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-menu-footer text-center">
              <a href="#">View all Notifications</a>
            </li>
          </ul>
        </li>
      
        <li class="ms-nav-item ms-nav-user dropdown">
          <a href="#"   id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
            <img class="ms-user-img ms-img-round float-left" src="https://via.placeholder.com/270x270" alt="people"> 
            <span class="float-right">Mohammad Gamal</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right user-dropdown" aria-labelledby="userDropdown">
            <li class="dropdown-menu-header">
              <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">Welcome, Anny Farisha</span></h6>
            </li>
            <li class="dropdown-divider"></li>
            <li class="ms-dropdown-list">
              <a class="media fs-14 p-2" href="profile.html"> <span><i class="flaticon-user mr-2"></i> Profile</span> </a>
            </li>
            <li class="dropdown-divider"></li>
            
            <li class="dropdown-menu-footer">
              <a class="media fs-14 p-2" href="login.html"> <span><i class="flaticon-shut-down mr-2"></i> Logout</span> </a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="ms-toggler ms-d-block-sm pr-0 ms-nav-toggler" data-toggle="slideDown" data-target="#ms-nav-options">
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
      </div>

    </nav>
  
    <!-- Body Content Wrapper -->
    <div class="ms-content-wrapper">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html"><i class="material-icons">home</i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Attendence & Evaluations</li>
            </ol>
          </nav>
      
      <div class="row">

        <div class="col-md-12">
         


          <div class="ms-panel">
            <div class="ms-panel-header">
              <h6>ُMy Evaluation</h6>
            </div>
            <div class="ms-panel-body">
              <div class="table-responsive">
                <table  class="dattable table table-striped thead-dark  w-100">
                  <thead>
                    <th>Session No</th>
                    <th>Exam Grade </th>
                    <th>Quiz Grade</th>
                    <th>Task Grade</th>
                    <th>Inteaction</th>
                    <th>Attiude</th>
                    <th>Helpful</th>
                  </thead>
                  <tbody>
                  
                    <tr>
                      <td>Session 1</td>
                      <td>
                        15/15
                      </td>
                      <td>
                        20/20
                      </td>
                      <td>
                        14/14
                      </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                         </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                         </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          
                         </td>
                    </tr>
                 
                  
                    <tr>
                      <td>Session 1</td>
                      <td>
                        15/15
                      </td>
                      <td>
                        20/20
                      </td>
                      <td>
                        14/14
                      </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                         </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                         </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          
                         </td>
                    </tr>
                 
                  
                    <tr>
                      <td>Session 1</td>
                      <td>
                        15/15
                      </td>
                      <td>
                        20/20
                      </td>
                      <td>
                        14/14
                      </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                         </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                         </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          
                         </td>
                    </tr>
                 
                  
                    <tr>
                      <td>Session 1</td>
                      <td>
                        15/15
                      </td>
                      <td>
                        20/20
                      </td>
                      <td>
                        14/14
                      </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                         </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                         </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          
                         </td>
                    </tr>
                 
                  
                    <tr>
                      <td>Session 1</td>
                      <td>
                        15/15
                      </td>
                      <td>
                        20/20
                      </td>
                      <td>
                        14/14
                      </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                         </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                         </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          
                         </td>
                    </tr>
                 
                  
                    <tr>
                      <td>Session 1</td>
                      <td>
                        15/15
                      </td>
                      <td>
                        20/20
                      </td>
                      <td>
                        14/14
                      </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                         </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                         </td>
                      <td>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          
                         </td>
                    </tr>
                 
                   

                  </tbody>
                </table>  
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="ms-panel">
                    <div class="ms-panel-header">
                      <h6>Exam KPI</h6>
                    </div>
                    <div class="ms-panel-body">
                        <div class="row no-gutters">
                                <div class="col-md-6">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto accusantium fuga repudiandae a sed rem eaque doloremque quasi error, harum laboriosam asperiores voluptatum! Voluptatum, rerum labore doloribus tempora ipsam laboriosam?</p>
                                </div>
                                <div class="col-md-6">
                                        <div class="progress-rounded progress-round-tiny">
                                          <div class="progress-value">72%</div>
                                            <svg>
                                              <circle class="progress-cicle bg-success"
                                              cx="65"
                                              cy="65"
                                              r="57"
                                              stroke-width="4"
                                              fill="none"
                                              aria-valuenow="72"
                                              aria-orientation="vertical"
                                              aria-valuemin="0"
                                              aria-valuemax="100"
                                              role="slider">
                                            </circle>
                                          </svg>
                                        </div>
                                      </div>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="ms-panel">
                    <div class="ms-panel-header">
                      <h6>Quiz KPI</h6>
                    </div>
                    <div class="ms-panel-body">
                        <div class="row no-gutters">
                                <div class="col-md-6">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto accusantium fuga repudiandae a sed rem eaque doloremque quasi error, harum laboriosam asperiores voluptatum! Voluptatum, rerum labore doloribus tempora ipsam laboriosam?</p>
                                </div>
                                <div class="col-md-6">
                                        <div class="progress-rounded progress-round-tiny">
                                          <div class="progress-value">72%</div>
                                            <svg>
                                              <circle class="progress-cicle bg-success"
                                              cx="65"
                                              cy="65"
                                              r="57"
                                              stroke-width="4"
                                              fill="none"
                                              aria-valuenow="72"
                                              aria-orientation="vertical"
                                              aria-valuemin="0"
                                              aria-valuemax="100"
                                              role="slider">
                                            </circle>
                                          </svg>
                                        </div>
                                      </div>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="ms-panel">
                    <div class="ms-panel-header">
                      <h6>Task KPI</h6>
                    </div>
                    <div class="ms-panel-body">
                        <div class="row no-gutters">
                                <div class="col-md-6">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto accusantium fuga repudiandae a sed rem eaque doloremque quasi error, harum laboriosam asperiores voluptatum! Voluptatum, rerum labore doloribus tempora ipsam laboriosam?</p>
                                </div>
                                <div class="col-md-6">
                                        <div class="progress-rounded progress-round-tiny">
                                          <div class="progress-value">72%</div>
                                            <svg>
                                              <circle class="progress-cicle bg-success"
                                              cx="65"
                                              cy="65"
                                              r="57"
                                              stroke-width="4"
                                              fill="none"
                                              aria-valuenow="72"
                                              aria-orientation="vertical"
                                              aria-valuemin="0"
                                              aria-valuemax="100"
                                              role="slider">
                                            </circle>
                                          </svg>
                                        </div>
                                      </div>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="ms-panel">
                    <div class="ms-panel-header">
                      <h6>Interaction KPI</h6>
                    </div>
                    <div class="ms-panel-body">
                        <div class="row no-gutters">
                                <div class="col-md-6">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto accusantium fuga repudiandae a sed rem eaque doloremque quasi error, harum laboriosam asperiores voluptatum! Voluptatum, rerum labore doloribus tempora ipsam laboriosam?</p>
                                </div>
                                <div class="col-md-6">
                                        <div class="progress-rounded progress-round-tiny">
                                          <div class="progress-value">72%</div>
                                            <svg>
                                              <circle class="progress-cicle bg-success"
                                              cx="65"
                                              cy="65"
                                              r="57"
                                              stroke-width="4"
                                              fill="none"
                                              aria-valuenow="72"
                                              aria-orientation="vertical"
                                              aria-valuemin="0"
                                              aria-valuemax="100"
                                              role="slider">
                                            </circle>
                                          </svg>
                                        </div>
                                      </div>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="ms-panel">
                    <div class="ms-panel-header">
                      <h6>Attiude KPI</h6>
                    </div>
                    <div class="ms-panel-body">
                        <div class="row no-gutters">
                                <div class="col-md-6">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto accusantium fuga repudiandae a sed rem eaque doloremque quasi error, harum laboriosam asperiores voluptatum! Voluptatum, rerum labore doloribus tempora ipsam laboriosam?</p>
                                </div>
                                <div class="col-md-6">
                                        <div class="progress-rounded progress-round-tiny">
                                          <div class="progress-value">80%</div>
                                            <svg>
                                              <circle class="progress-cicle bg-success"
                                              cx="65"
                                              cy="65"
                                              r="57"
                                              stroke-width="4"
                                              fill="none"
                                              aria-valuenow="80"
                                              aria-orientation="vertical"
                                              aria-valuemin="0"
                                              aria-valuemax="100"
                                              role="slider">
                                            </circle>
                                          </svg>
                                        </div>
                                      </div>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="ms-panel">
                    <div class="ms-panel-header">
                      <h6>Helpful KPI</h6>
                    </div>
                    <div class="ms-panel-body">
                        <div class="row no-gutters">
                                <div class="col-md-6">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto accusantium fuga repudiandae a sed rem eaque doloremque quasi error, harum laboriosam asperiores voluptatum! Voluptatum, rerum labore doloribus tempora ipsam laboriosam?</p>
                                </div>
                                <div class="col-md-6">
                                        <div class="progress-rounded progress-round-tiny">
                                          <div class="progress-value">60%</div>
                                            <svg>
                                              <circle class="progress-cicle bg-warning"
                                              cx="65"
                                              cy="65"
                                              r="57"
                                              stroke-width="4"
                                              fill="none"
                                              aria-valuenow="60"
                                              aria-orientation="vertical"
                                              aria-valuemin="0"
                                              aria-valuemax="100"
                                              role="slider">
                                            </circle>
                                          </svg>
                                        </div>
                                      </div>
                        </div>
                    </div>
                  </div>
            </div>
          </div>
        
        </div>

      </div>
    </div>

  </main>

 



  <!-- SCRIPTS -->
  <!-- Global Required Scripts Start -->
  <script src="../assets/js/jquery-3.3.1.min.js"></script>
  <script src="../assets/js/popper.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/perfect-scrollbar.js"> </script>
  <script src="../assets/js/jquery-ui.min.js"> </script>
  <!-- Global Required Scripts End -->

  <!-- Page Specific Scripts Start -->
  <script src="../assets/js/slick.min.js"> </script>
  <script src="../assets/js/moment.js"> </script>
  <script src="../assets/js/jquery.webticker.min.js"></script>
  <script src="../assets/js/Chart.bundle.min.js"> </script>
  <script src="../assets/js/Chart.Financial.js"> </script>
  <script src="../assets/js/cryptocurrency.js"> </script>
  <!-- Page Specific Scripts Finish -->
 <!-- Date picker -->
 <script src="../assets/js/datepicker.min.js"></script>

  
  <!-- Page Specific Scripts Start -->
  <script src="../assets/js/datatables.min.js"> </script>
  <script src="../assets/js/data-tables.js"> </script>
  <!-- Page Specific Scripts End -->
<!-- Circular Progress Bar -->
<script src="../vendors/jquery-circle-progress/dist/circle-progress.min.js"></script>
  <!-- Mystic core JavaScript -->
  <script src="../assets/js/framework.js"></script>

  <!-- Settings -->
  <script src="../assets/js/settings.js"></script>

</body>

</html>
